<html>
<head>
	<title>Collaborations - Reports - Stronger</title>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
		@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;800&display=swap');
	</style>
           <script src="static/js/jquery.min.js"></script>
      <script src="static/js/popper.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
      <script src="static/js/owl.carousel.js"></script>
      <!-- wow animation -->
      <script src="static/js/wow.js"></script>


      <script src="../js/jquery.stickytableheaders.js" type="text/javascript"></script>
	<script src="static/js/custom.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.2/themes/cupertino/jquery-ui.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>

      <script src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/src/js/bootstrap-datetimepicker.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/build/css/bootstrap-datetimepicker.css">
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />

      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
      <script src="https://www.jqueryscript.net/demo/jQuery-Plugin-For-Sticky-Table-Header/js/jquery.stickytableheaders.js"></script>
      <!-- google map js -->


	<link rel="stylesheet" href="static/css/style3.css" type="text/css" media="all" />
	<link rel="stylesheet" href="static/css/autocomplete.css" type="text/css" media="all" />
	<link rel="icon" href="https://www.strongerlabel.com/favicon.ico?stronger" type="image/x-icon"/>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
	<script type="text/javascript" src="static/js/autocomplete.js"></script>

	<style>
		canvas{
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
		}
		.chart-container {
			width: 500px;
			margin-left: 40px;
			margin-right: 40px;
			margin-bottom: 40px;
		}
		.container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}
	</style>
</head>

<body>

<div class="full-width-content">
	<section class="content-header" style="background-image: url('https://yt3.ggpht.com/4rT83zOzf5oKBK51ZvhYPd1HZHczEhNtpgPu09MwTEVzXnS2Xx8FcRJBsmqN5rQTOItvIkS-Pn0=w2560-fcrop64=1,00005a57ffffa5a8-k-c0xffffffff-no-nd-rj') !important;">
		<div class="channel-background">
		<img src="static/images/icons/svg/reports.svg" class="header-icon">
			<div class="channel-data">

				<h2>Influencer Sales </h2>
				<a href="" class="button-m" style="float: right;">Date picker</a>
				<a href="" class="button-m" style="float: right;">Date picker</a>
				Start Date: <input type="date" name="report_start_date"/>
				End Date: <input type="date" name="report_end_date"/>
			</div>
		</div>
	</section>
</div>

<div class="content">
<h2>Sales By Country</h2>

<div id="sales_by_country">
	<script>
	    $(function(){
	    	 $report_start_date = undefined;
	    	 $report_end_date = undefined;
	    	 function updateSalesByCountriesView(salesInfos){
					$("#sales_by_country_grid").jsGrid(
					{
						height: "90%",
						width: "100%",
						sorting: true,

						data: salesInfos,
						fields: [
							{ name: "country", title:"Country", type: "text", width: 150,itemTemplate:function(value, item){
								var imageLoc = "static/images/flags/"+value.toLowerCase()+".png"
								return $("<div>").text(value).append($("<img>").attr("src",imageLoc).addClass("report-thumb"));
							} },
							{ name: "voucher_sales", title:"Centra Sales", type: "number", width: 100 },
							{ name: "commission", title:"Commission",  type: "number", width: 100 },
							{ name: "product_cost", title:"Product Cost", type: "number", width:100},
							{ name:"total_cost", type: "number",title: "Total Cost", width:100},
							{ name:"roas", type: "number", title:"ROAS", width:100 },
							{ name: "percent_total_sales", title:"% of Total Sales", type: "number" },
							{ name: "country_sales", title: "Country Total Sales", type: "number", width: 100},
							{ name: "influe_to_country_sales_ratio", title: "Influencer Sales/Country Sales", type: "number", width: 100}
						]
					}
					);
				   $("#sales_by_country_total").addClass("jsgrid-grid-body").append($("<table>").addClass("jsgrid-table").append($("<tr>").css("font-weight", "bold").addClass("jsgrid-row")
				   .append($("<td>").text("Total"))
				   .append($("<td>").text("1"))
				   .append($("<td>").text("1"))
				   .append($("<td>").text("1"))
				   .append($("<td>").text("1"))
				   .append($("<td>").text("1"))
				   .append($("<td>").text("1"))
				   .append($("<td>").text("1"))
				   .append($("<td>").text("1"))));


	    	 }

	    	 function handleReports(start_date,end_date){
				start_date = Date.parse(start_date)/1000;
				end_date = Date.parse(end_date)/1000;
				url = "sales_report?start_date="+start_date+"&end_date="+end_date;
				$.ajax({
					method: 'GET',
					url:url,
					success:function(data){
						salesInfos = data.salesInfos;
						updateSalesByCountriesView(salesInfos);
					},
					 error: function (response){
                          if(response.responseJSON){
                                alert(response.responseJSON.error+" "+response.statusText);
                           }else{
                            alert(response.statusText);
                          }
                     }
				});
	    	 }


			 function inputDatesChanged(){
			 	$report_start_date= $("input[name='report_start_date']").val();
			 	$report_end_date = $("input[name='report_end_date']").val();
			 	if($report_start_date.length >0 && $report_end_date.length>0){
			 		handleReports($report_start_date, $report_end_date);
			 	}
			 }

			 $("input[name='report_start_date'], input[name='report_end_date']").on('change',function(){
				inputDatesChanged();
			 });
	    });

	</script>
	<div id="sales_by_country_grid"></div>
	<div id="sales_by_country_total"></div>
</div>

<table class="report-table">
	<thead>
		<tr>
			<th>Country</th>
			<th><a href="" title="Centra Sales by Vouchers" class="active">Centra Sales</a></th>
			<th><a href="">Commissions</a></th>
			<th><a href="">Product Cost</a></th>
			<th><a href="">Total Cost</a></th>
			<th><a href="">ROAS</a></th>
			<th><a href="">% of Total Sales</a></th>
			<th>Influencer sales/country sales</th>
			<th><a href="">Country Total Sales</a></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="static/images/flags/sweden.png" class="report-thumb" alt="Sweden"><a href="">Sweden</a></td>
			<td>1 000 000</td>
			<td>100 000</td>
			<td>30 000</td>
			<td>130 000</td>
			<td>7.69</td>
			<td>2%</td>
			<td>14 000 000</td>
		</tr>
		<tr>
			<td><img src="static/images/flags/germany.png" class="report-thumb" alt="Germany"><a href="">Germany</a></td>
			<td>1 000 000</td>
			<td>100 000</td>
			<td>30 000</td>
			<td>130 000</td>
			<td>7.69</td>
			<td>1%</td>
			<td>14 000 000</td>
		</tr>
		<tr>
			<td><img src="static/images/flags/netherlands.png" class="report-thumb" alt="Netherlands"><a href="">Netherlands</a></td>
			<td>1 000 000</td>
			<td>100 000</td>
			<td>30 000</td>
			<td>130 000</td>
			<td>7.69</td>
			<td>1%</td>
			<td>14 000 000</td>
		</tr>
		<tr>
			<td><img src="static/images/flags/belgium.png" class="report-thumb" alt="Belgium"><a href="">Belgium</a></td>
			<td>1 000 000</td>
			<td>100 000</td>
			<td>30 000</td>
			<td>130 000</td>
			<td>7.69</td>
			<td>1%</td>
			<td>14 000 000</td>
		</tr>
		<tr>
			<td><img src="static/images/flags/united-states-of-america.png" class="report-thumb" alt="United States of America"><a href="">United States of America</a></td>
			<td>1 000 000</td>
			<td>100 000</td>
			<td>30 000</td>
			<td>130 000</td>
			<td>7.69</td>
			<td>1%</td>
			<td>14 000 000</td>
		</tr>
		<tr>
			<td><img src="static/images/flags/united-kingdom.png" class="report-thumb" alt="United Kingdom"><a href="">United Kingdom</a></td>
			<td>1 000 000</td>
			<td>100 000</td>
			<td>30 000</td>
			<td>130 000</td>
			<td>7.69</td>
			<td>1%</td>
			<td>14 000 000</td>
		</tr>
		<tr>
			<td><img src="static/images/flags/norway.png" class="report-thumb" alt="Norway"><a href="">Norway</a></td>
			<td>1 000 000</td>
			<td>100 000</td>
			<td>30 000</td>
			<td>130 000</td>
			<td>7.69</td>
			<td>5%</td>
			<td>14 000 000</td>
		</tr>
		<tr>
			<td><img src="static/images/flags/switzerland.png" class="report-thumb" alt="Switzerland"><a href="">Switzerland</a></td>
			<td>1 000 000</td>
			<td>100 000</td>
			<td>30 000</td>
			<td>130 000</td>
			<td>7.69</td>
			<td>1%</td>
			<td>14 000 000</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th>Total</th>
			<td>8 000 000</td>
			<td>800 000</td>
			<td>240 000</td>
			<td>1 040 000</td>
			<td>7.69</td>
			<td>10%</td>
			<td>112 000 000</td>
		</tr>
	</tfoot>
</table>

<ul>
	<li>Country - Top voucher sales countries</li>
	<li>Centra Sales - Total sales from voucher from a country to the left</li>
	<li>Commissions - Commission payed for the collaborations within given time for the specific country</li>
	<li>Product Cost - Product cost column summerized for all collaborations from the specific country, during given timeperiod</li>
	<li>Total Cost - Commissions + Product Cost</li>
	<li>ROAS = Centra Sales - Total Cost</li>
	<li>% of Total sales = Centra sales (per country) / all centra Sales (given timeperiod)</li>
	<li>Influencer sales/country sales</li>
	<li>Country Total Sales = All sales from the specific country (during given timeperiod)</li>

</ul>

<h2>Number of Collaborations</h2>
<table>
	<thead>
		<tr>
			<th>Country</th>
			<th>Paid</th>
			<th>Unpaid</th>
			<th>ÖK</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Sweden</td>
			<td>22</td>
			<td>44</td>
			<td>11</td>
			<td>77</td>
		</tr>
		<tr>
			<td>Germany</td>
			<td>22</td>
			<td>44</td>
			<td>11</td>
			<td>77</td>
		</tr>
		<tr>
			<td>Netherlands</td>
			<td>22</td>
			<td>44</td>
			<td>11</td>
			<td>77</td>
		</tr>
		<tr>
			<td>Belgium</td>
			<td>22</td>
			<td>44</td>
			<td>11</td>
			<td>77</td>
		</tr>
		<tr>
			<td>United States of America</td>
			<td>22</td>
			<td>44</td>
			<td>11</td>
			<td>77</td>
		</tr>
		<tr>
			<td>United Kingdom</td>
			<td>22</td>
			<td>44</td>
			<td>11</td>
			<td>77</td>
		</tr>
		<tr>
			<td>Norway</td>
			<td>22</td>
			<td>44</td>
			<td>11</td>
			<td>77</td>
		</tr>
		<tr>
			<td>Switzerland</td>
			<td>22</td>
			<td>44</td>
			<td>11</td>
			<td>77</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th>Total</th>
			<td>1 000</td>
			<td>900</td>
			<td>300</td>
			<td>1 000</td>
		</tr>
	</tfoot>
</table>



<h2>Paid vs Unpaid</h2>



<div class="graph">
  <div class="chart-legend">

  </div>
  <div class="chart">
    <canvas id="myChart"></canvas>
  </div>
</div>


<script>
var ctx = document.getElementById('myChart').getContext('2d');

var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['18 jan', '19 jan', '20 jan', '21 jan', '22 jan', '23 jan'],
        datasets: [{
            label: 'Collaborations',
            data: [12, 9, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>



<section class="search-results">

	<h2>Mentions</h2>
	<table>
		<tr>
			<th>Brand</th>
			<th><a href="">Mentions</a></th>
			<th>Views</th>
			<th>Likes</th>
			<th class="date"><a href="" title="Sort by date" class="active"/>Date </th>
		</tr>
		<tr>
			<td><a href="brand.html">Lululemon</a></td>
			<td>1</td>
			<td>50 000</td>
			<td>4 000</td>
			<td class="date"><a href="">30 oct, 2020</a></td>
		</tr>
		<tr>
			<td><a href="brand.html">NA-KD</a></td>
			<td>4</td>
			<td>157 156</td>
			<td>4 000</td>
			<td class="date">
				<a href="https://www.youtube.com/watch?v=a91UKrgCzQA">15 oct 2020</a>
				<a href="https://www.youtube.com/watch?v=a91UKrgCzQA">11 aug 2020</a>
				<a href="https://www.youtube.com/watch?v=a91UKrgCzQA">10 feb 2020</a>
			</td>
		</tr>
		<tr>
			<td><a href="brand.html">Adidas</a></td>
			<td>1</td>
			<td>36 972</td>
			<td>4 000</td>
			<td class="date"><a href="">10 oct 2020</a></td>
		</tr>
		<tr>
			<td><a href="brand.html">iDeal of Sweden</a></td>
			<td>1</td>
			<td>36 972</td>
			<td>4 000</td>
			<td class="date"><a href="">5 oct 2020</a></td>
		</tr>
		<tr>
			<td><a href="brand.html">Caia Cosmetics</a></td>
			<td>5</td>
			<td>36 972</td>
			<td>4 000</td>
			<td class="date"><a href="">10 oct 2020</a></td>
		</tr>
		<tr>
			<td><a href="brand.html">Aloyoga</a></td>
			<td>1</td>
			<td>36 972</td>
			<td>4 000</td>
			<td class="date"><a href="">10 oct 2020</a></td>
		</tr>
		<tr>
			<td><a href="brand.html">iDeal of Sweden</a></td>
			<td>1</td>
			<td>36 972</td>
			<td>4 000</td>
			<td class="date"><a href="">5 oct 2020</a></td>
		</tr>
		<tr>
			<td><a href="brand.html">Caia Cosmetics</a></td>
			<td>5</td>
			<td>36 972</td>
			<td>4 000</td>
			<td class="date"><a href="">10 oct 2020</a></td>
		</tr>
		<tr>
			<td><a href="brand.html">Aloyoga</a></td>
			<td>1</td>
			<td>36 972</td>
			<td>4 000</td>
			<td class="date"><a href="">10 oct 2020</a></td>
		</tr>
		<tr>
			<td><a href="brand.html">iDeal of Sweden</a></td>
			<td>1</td>
			<td>36 972</td>
			<td>4 000</td>
			<td class="date"><a href="">5 oct 2020</a></td>
		</tr>
		<tr>
			<td><a href="brand.html">Caia Cosmetics</a></td>
			<td>5</td>
			<td>36 972</td>
			<td>4 000</td>
			<td class="date"><a href="">10 oct 2020</a></td>
		</tr>
		<tr>
			<td><a href="brand.html">Aloyoga</a></td>
			<td>1</td>
			<td>36 972</td>
			<td>4 000</td>
			<td class="date"><a href="">10 oct 2020</a></td>
		</tr>


	</table>

	<p><a href="profile-latest.html">View latest videos</a></p>



</section>


</div>



</body>
</html>
